.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0 0 48px 0;
}

@media screen and (max-width: 950px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }  
}

@media screen and (max-width: 650px) {
  .place__title {
    padding: 0 16px 0 16px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 32px 0;
  }
}