.place__two-row {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 1024px) {
  .place__two-row {
    gap: 27px;
  }
}

@media screen and (max-width: 650px) {
  .place__two-row {
    padding-top: 32px;
  }
}