.page__container {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1184px) {
  .page__container {
    max-width: 928px;
  }
}


@media screen and (max-width: 928px) {
  .page__container {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .page__container {
    max-width: 288px;
  }
}

